.style{


    text-align: center;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.para{
    background-color: pink;
    text-align: center;
    font-size: 24px;
    font-family: roboto;

}
.background{
    background-color: greenyellow;
}
.battu{
    color: aqua;
    text-align: center;
    justify-content: center;
    display: flex;
}
.logo-container {
    text-align: center; /* To center the logo horizontally, use 'left' or 'right' if desired */
  }
  
  .logo-container img {
    max-width: 200px; /* Adjust the maximum width as per your preference */
    height: auto; /* To maintain the logo's aspect ratio */
  }
  